* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: url("../assets/img/tapis_de_jeu.jpg");
  background-size: cover;
  height: 100vh;
}