* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: url("../assets/img/tapis_de_jeu.jpg");
  background-size: cover;
  height: 100vh;
}

/* -------------------------------------------- */
/*                                              */
/*                 Starter Box                  */
/*                                              */
/* -------------------------------------------- */

.starter-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.starter-box h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.starter-box-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

/* -------------------------------------------- */
/*                                              */
/*               Cards and scores               */
/*                                              */
/* -------------------------------------------- */

.table {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.dealer, .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.score {
  background-color: #4169E1;
  border: 3px solid #C0C0C0;
  border-radius: 999px;
  width: 50px;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.player-hand, .dealer-hand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  margin: 0 10%;
}

.game-card-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 125px;
  aspect-ratio: 2 / 3 !important;
}

.turned {
  transform: rotateY(180deg);
}

.game-card {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px 10px;
  border: 5px solid #000000;
  border-image: linear-gradient(315deg, #ecc440, #fffa8a, #ddac17, #ffff95) 1 round;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.recto, .verso {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.recto {
  background: url("../assets/img/blue-card.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden !important;
  z-index: 2;
  display: flex;
  align-items: center;
}

.verso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  transform: rotateY(180deg);
  z-index: 1;
  padding: 20px 10% 20px 10%;
}

/* -------------------------------------------- */
/*                                              */
/*                    Actions                   */
/*                                              */
/* -------------------------------------------- */

.actions {
  position: absolute;
  display: flex;
  bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
  align-items: end;
  margin-bottom: 25px;
  width: 100%;
  padding: 0 10%;
}

.actions > * {
  width: 200px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  aspect-ratio: 2 / 1;
}

.actions #split, .actions #double {
  width: 150px;
}

#split {
  background-color: #ffa318;
}

#draw {
  background-color: #4CAF50;
}

#stay {
  background-color: #D33C3C
}

#double {
  background-color: #2196F3;
}